/* .rivers {
    flex-basis: 25%;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2em;
    border: double black;
    background-color: rgb(32,37,41);
    font-style: bold;
    width: 270px;
    min-width: 10rem;
    border-radius: 5px;
    align-items: center;
    font-family: fantasy;
    color:white;
    box-shadow: 0px 0px 8px 1px rgba(91, 99, 102, 0.098); 
    
} */