.place {
    flex-basis: 25%;
    display: flex;
    margin: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 3em;
    border: double black;
    background-color: rgb(32,37,41);
    font-style:normal;
    width: 450px;
    min-width: 20rem;
    border-radius: 5px;
    align-items: flex-start;
    font-family: monospace;
    color:white;
    box-shadow: 0px 0px 8px 1px rgba(91, 99, 102, 0.098); 
    
}
.places {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3em;
    justify-content: space-evenly;
}

.place_address {
    padding-top: .3rem;
    width: 200%;
    font-size: 20px;
}

.places_header {
    text-align: center;
    
}

.place_wildlife {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
}
.place_about {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
}

.place_visitors {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
